@import url('https://fonts.googleapis.com/css2?family=Inter&family=Krona+One&family=Montserrat:ital,wght@0,400;1,600&family=Righteous&family=Sarala:wght@400;700&display=swap');

:root {
    --branco-primario: #FFFF;
    --azul-secundario: #167BF7;
    --rosa-terciario: #EC2F46;
    --cinza-quaternario: #C0C0C0;
    --cor-fundo: #00030C; 

    --font-primaria: 'Krona One', sans-serif;
    --font-secundaria: 'Montserrat', sans-serif;
    --font-terciaria: 'Inter', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cor-fundo);
    color: var(--branco-primario);
}

.principal {
    background-image: url("img/background.png");
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center; 
    text-align: center;
}

.container {
    height: 100vh; 
    display: grid;
    grid-template-columns: 50% 50%; 
}

.container__caixa {
    margin: 0 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    text-align: center;
}

.apresentacao_titulo {
    font-family: 'Inter', sans-serif;;
    font-weight: 550;
    font-size: 1.6rem;
    font-weight: 600;  
    padding: 0 1em 0 1em;
}

.container_imagem {
    padding: 1em;
}

.container_botao {
    display: block;
    background-color: var(--azul-secundario);
    color: var(--branco-primario);
    text-decoration: none;
    font-family: var(--font-secundaria);
    border: 2px solid var(--azul-secundario);
    padding: 5px;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 600;
    width: 50%;
    text-align: center;
    padding-bottom: 0.5em;
}

.container_botao_dois {
    background-color: transparent;
}

.container_botao:hover {
    font-size: 1.05rem;
}

.container_botao_dois:hover {
    font-size: 1.05rem;
}

.container_aviso {
    color: var(--cinza-quaternario);
    font-family: var(--font-secundaria);
    font-size: 0.70rem;
    padding: 0.15em;
}

.apresentacao_imagem_secundario {
    width: 80%;
}

.secundario {
    align-items: center;
    margin: 0 7em;
}

.apresentacao_paragrafo {
    font-family: var(--font-secundaria);
    margin: 1em 0;
}

.dois {
    font-size: 2.3rem;
    font-family: var(--font-terciaria);
    color: var(--branco-primario);
}

.apresentacao_paragrafo {
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--cinza-quaternario);
    margin: 0 1em;
}

.container__caixa_secundario {
    text-align: center;
}

.terciario {
    align-items: center;
    justify-items: center;
    padding: 0 0 5em 0;
}

.quaternario {
    align-items: center;
    justify-items: center;
    padding: 0 5em;
}

.tres {
    font-size: 2.3rem;
    font-family: var(--font-terciaria);
    color: var(--branco-primario);
}






